ol { line-height: 120%; margin-top: 0.5em; margin-bottom: 1em;  }

.end
{
font-size: x-small;
}

.indication
{
font-size: smaller;
font-weight: bold;
}

.center { text-align: center; }
.center table { margin: auto; }

p { text-align: justify; }

.note
{
margin: 25;
padding: 3;
background: #def;
/* font-size: smaller; */
}

.sample
{
margin: 10;
padding: 2;
margin-right: 25;
color: #b22;
background: #eee;
font-size: smaller;
line-height: 120%;
}

.sample strong
{
background: #e5e5e5;
color: green;
}

.navlist
{
position: relative;
width: 100%;
height: 1.05em;
margin: 0;
padding: 0;
border-bottom: 3px solid #36f;
white-space: nowrap;
margin-bottom: 2em;
}

.navlist li
{
float: left;
margin: 0 0 0 2px;
border-width: 1px 1px 0 1px;
border-style: solid;
border-color: #aaa #555 #36f #999;
list-style-type: none;
width: 7em;
}

.navlist li a
{
position: relative;
display: block;
margin: 0;
padding: 1px 0.4em;
border-width: 1px 1px 0 1px;
border-style: solid;
border-color: #ccc;
background: #eee;
color: #666;
font: normal 0.7em/120% Verdana, Arial, Helvetica, sans-serif;
text-align: center;
text-decoration: none;
}

.navlist li a:hover
{
color: #00c;
text-decoration: underline;
}

.navlist li.active a
{
font-weight: bold;
background: #36f;
color: #fff;
border-color: #69f #03c #36f #69f;
}

.navlist li.active a:hover { color: #fff; }

.navlist ul.subnavlist
{
position: absolute;
width: 100%;
left: 0;
top: 1.25em;
height: 0.85em;
margin: 0;
padding: 0;
border-bottom: 3px solid #36f;
white-space: nowrap;
}

.navlist ul.subnavlist li
{
width: 16ex;
margin: 0;
border: 0;
}

.navlist ul.subnavlist li a
{
width: auto;
padding: 0.06em 1em 0;
border: 0;
background: #fff;
color: #000;
font: normal normal 0.66em/110% Verdana, Arial, sans-serif;
}

.navlist ul.subnavlist li a:hover
{
color: #00c;
text-decoration: underline;
font-weight: 400;
/* IE5/Mac disappearing item fix */
}

.navlist ul.subnavlist li.subactive a
{
background: #9cf;
color: #000;
height: 1.25em;
}

* html > body .navlist, * html > body .navlist ul.subnavlist
{
width: 600px;
/* IE5/Mac fixed width fix */
}
